@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    background-color: lightblue;
}

.container {
    margin: 0 25%;
}

.title {
    text-decoration: underline;
    font-size: 50px;
    text-align: center;
}

.recipes {
    list-style: none;
}